$main-font: "Montserrat", sans-serif;
$topic-font1: "Kaushan Script", cursive;
$topic-font2: "Roboto", sans-serif;
$primary-color: #ffffff;
$color-back: #95e1d3;
$color-social-link: #f38181;
$text-description-color: #999999;
$main-font-size: 14px;
$additional-font-size: 15px;
$topic-font-size1: 30px;
$topic-font-size2: 24px;
